@model TV.web.Models.LoginModel

@{
    ViewBag.Title = "VerifySuccess";
}

<h4> Registration Verification Success</h4>
<br />
<p>Your registration has been verified.  You can now login</p>
<br />
<br />
@Html.ActionLink("Login", "Login")