@{
    ViewBag.Title = "VerifyAccount";
}

<h4>Thank you for registering, only one more step!</h4>

<p>Your account has been created.  Please check the email account you used for an email with instructions on completing the 
   sregistration process. The email is time sensitive so check your inbox as soon as you can.
</p>