@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmNSdpBTBZpMlE7CA7HE4AwPNgQg8sJxg&sensor=true">
</script>


<!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->
<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 600px; width: 980px"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            // Where all the fun happens
            function Initialize() {

                // Google has tweaked their interface somewhat - this tells the api to use that new UI
                //google.maps.visualRefresh = true;
                var Liverpool = new google.maps.LatLng(0,0);

                if (navigator.geolocation) {
                    console.log("jfjhfjf");
                    browserSupportFlag = true;
                    navigator.geolocation.getCurrentPosition(function (position) {
                        UserMap = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        

                        var mapOptions = {
                            zoom: 14,
                            center: UserMap,
                            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                        };

                        // This makes the div with id "map_canvas" a google map
                        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                        // This shows adding a simple pin "marker" - this happens to be the Tate Gallery in Liverpool!
                        //var myLatlng = new google.maps.LatLng(position.latitude, position.longitude);
                        var marker = new google.maps.Marker({
                            position: UserMap,
                            map: map,
                            title: 'You are approximately here'
                        });
                        
                        map.setCenter(map);


                    }, function () {
                        alert(browserSupportFlag);
                    });
                } 
            }


        </script>
    </section>
}
