@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h3>Our Story</h3>
</hgroup>
<div class="span8" style="padding-top:15px;
                            padding-bottom:15px;
                            padding-right:25px;
                            padding-left:25px;  
                            -moz-box-shadow:3px 3px 5px 5px #ccc;
                            -webkit-box-shadow:3px 3px 5px 6px #ccc;
                            box-shadow:3px 3px 5px 5px rgb(184, 184, 184); 
                            background-color:rgb(224,224,224);
                            -moz-border-radius: 15px;
                            border-radius: 15px;">
<article>
    <p>
        TenantsVillage was created to help renters in the Iowa City area communicate about their experiences dealing with landlords and management companies. The developers of this site are objective, we represent no one and no company.
        TenantsVillage is tool, a tool that everyone has access to.  Our main goal for this tool is to have a more educated housing consumer, resulting in a more equitable housing market.  Please use this site responsibly. <br />
    </p>
    <h5>FAQ</h5>
    <dl>
        <dt>Is this site anonymous?</dt>
        <dd>Yes, this site does not collect any personal information about any user.  You are safe to post freely.</dd>
        <dt>How do I create a post?</dt>
        <dd>First, you have to register with our site.  All we need is an email address.  You can start @Html.ActionLink("here", "Register", "Account") .  Next, after you log in, click on your User-Name to access the menu of actions.</dd>
        <dt>Can users use this site to advertize?</dt>
        <dd>Absolutely not, any user that is found to be posting advertisements will have their account deleted.</dd>
        <dt></dt>
        <dd></dd>
    </dl>
    
</article>
</div>


@*<aside>
    <h3></h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@