@{
    ViewBag.Title = "About";
}

@section scripts{
    <script>
        $('#betaTooltip').tooltip();
    </script>
    
}

<br />
<br />
<div class="row">
    <div class="col-lg-offset-1 col-lg-10  col-md-offset-1 col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Our Story
                </div>
            </div>
            <div class="panel-body">
               
                <div class="row">
                    <div class="col-lg-6" style="font-size:large;">
                        Welcome to Tenants' Village <small>beta</small>&nbsp;<i class="fa fa-info-circle" style="color:blue;" data-toggle="tooltip" data-placement="right" id="betaTooltip" title="We will release the full version after collecting user feedback.  All accounts and records will be saved and availablee in the full version."></i>
                    </div>
                </div>
                <br />
                    <p style="font-family:Lucida Sans Unicode">
                        Tenants' Village was created by a graduate student who had a lot of trouble finding quality landlords while attending college. After several leases and after losing several hundred dollars in deposits he thought there had to be a better way.
                        A better way to find properties that do not exploit students, tenants, and landlord/tenant law.  There are good tenants out there who pay rent on time and do not destroy property, these tenants deserve the benefit of an honest landlord. 
                        And in turn there are fantastic landlords out there who deserve to have their efforts rewarded with good tenants. <br /><br />

                        There are several ways a landlord has to screen tenants: income verification, credit checks, criminal background checks, and references.  Yet there are next to no services out there to screen landlords for tenants.  
                        Tenants' Village fills that need for reliable information about landlords.  This site is a safe place to voice your feedback.  <b style="color:red;">We do not allow Advertising on this site!!</b>  Tenants' Village is not the place to post obvious advertisements, this is a feedback 
                        site not a commercial venture.  Tenants' Village is a non-profit organization that exists solely to inform renters<br />
                        <br />
                        Please post the good with the bad. Reward landlords who respect their tenants and reveal the ones that do not.

                    </p>
                    <br />
                    <br />
                    <h5>FAQ</h5>
                    <dl>     
                        <dt>Is this site anonymous?</dt>
                        <dd>&nbsp;&nbsp;Yes, this site does not collect any personal information about any user.  You are safe to post freely.</dd>
                        <dt>How do I create a post?</dt>
                        <dd>&nbsp;&nbsp;First, you have to register with our site.  All we need is an email address.  You can start @Html.ActionLink("here", "Register", "Account").</dd>
                        <dt>Can I leave contact information in a Post?</dt>
                        <dd>&nbsp;&nbsp;NO, this site does not collect any personal information and we do not allow anyone to place personal contact info in their posts.<br />
                            &nbsp;&nbsp;Any post found containing such information will be deleted.</dd>
                        <dt>Can users use this site to advertise?</dt>
                        <dd>&nbsp;&nbsp;Absolutely not, any user that is found to be posting advertisements will have their account deleted.</dd>
                        <dt></dt>
                        <dd></dd>
                    </dl>

              
            </div>
        </div>
    </div>
</div>

   
