@{
    ViewBag.Title = "Create a New Post";
}

<head>
    <title> Tenants Village Housing Inspection Code Inforcement Renter Law Teneant Law</title>
</head>

<br />
<br />
<div class="row" style="padding-left:12px; padding-right:18px;">
    <div class="col-lg-12 col-md-12 ">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Useful Links
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p style="color: rgb(0, 148, 255); padding-left: 9px;">
                            Below are links to sites that provide information and services to renters.
                            TenantsVillage is not responsible for the content of these sites.  <br /><em style="color:red; opacity:.5;">
                                                                                                        You will be leaving
                                                                                                        TenantsVillage.com when the link is clicked.
                                                                                                    </em>
                        </p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Housing Authorities and Code Inspections</h4>
                        <ul>
                            <li><a href="http://www.icgov.org/?id=1149" target="_blank">Iowa City Code Enforcement</a></li>
                            <li><a href="http://www.lchh.org/housing-inspection/housing-code-enforcement" target="_blank">Linn County(Cedar Rapids) Code Enforcement</a></li>
                            <li><a href=" http://www.cityofames.org/index.aspx?page=200" target="_blank">Ames, IA Code Enforcement</a></li>
                            <li><a href="http://www.cityofames.org/modules/showdocument.aspx?documentid=275" target="_blank">Ames, IA Housing Code</a></li>
                            <li><a href="http://www.dmgov.org/Departments/CommunityDevelopment/Pages/NeighborhoodInspections.aspx" target="_blank">Des Moines, IA Housing Authority</a></li>
                            <li><a href="http://www.cityofdavenportiowa.com/eGov/apps/document/center.egov?view=detail&id=5324" target="_blank">Davenport, IA Housing Authority</a></li>
                            <li><a href="http://www.moline.il.us/index.aspx?nid=406" target="_blank">Moline, IL Housing Authority</a></li>
                            <li><a href="http://www.councilbluffs-ia.gov/index.aspx?NID=346" target="_blank">Council Bluffs, IA Housing Authority</a></li>
                            <li><a href="http://www.cityofwaterlooiowa.com/housingauthority" target="_blank">Waterloo, IA Housing Authority</a></li>
                            <li><a href="https://www.sioux-city.org/building-inspections" target="_blank">Waterloo, IA Housing Authority</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h4>Legal Aid and Statutes</h4>
                        <ul>
                            <li><a href="http://portal.hud.gov/hudportal/HUD?src=/states/iowa/renting/tenantrights" target="_blank">Federal HUD site</a></li>
                            <li><a href="http://www.iowabar.org/?page=LandlordTenant" target="_blank">Iowa Bar Landlord/Tenant page</a></li>
                            <li><a href="http://www.iowalegalaid.org/issues/housing/landlord-and-tenant-issues" target="_blank">Iowa Legal Aid</a></li>
                            <li><a href="http://coolice.legis.iowa.gov/Cool-ICE/default.asp?Category=billinfo&Service=IowaCode&input=562A">Iowa Landlord/Tenant Law</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h4>News</h4><div>&nbsp;<em style="opacity:.5;">Last Updated - 3:30pm CST 2/12/2014</em></div>
                        <ul>
                            <li><a href="http://www.ictenantsclassaction.com/" target="_blank">Iowa City Tenants' Class Action</a></li>
                            <li><a href="http://www.dailyiowan.com/UniversityEdition/CampusandCity/ue10019.html" target="_blank">Iowa City housing options article</a></li>
                            <li><a href="https://www.facebook.com/pages/Iowa-City-Tenants-Class-Action-Against-Apartments-Downtown/145956042131433" target="_blank">Iowa City Tenants' Class Action FB page</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>