<hgroup class="title">
    <h3>Links</h3>
</hgroup><hr />

    <div class="span8"style="padding-top:15px;
                            padding-bottom:15px;
                            padding-right:25px;
                            padding-left:25px;  
                            -moz-box-shadow:3px 3px 5px 5px #ccc;
                            -webkit-box-shadow:3px 3px 5px 6px #ccc;
                            box-shadow:3px 3px 5px 5px rgb(184, 184, 184); 
                            background-color:rgb(224,224,224);
                            -moz-border-radius: 15px;
                            border-radius: 15px;">
<p>
    Below are links to sites that provide information and services to renters.  
    TenantsVillage is not responsible for the comntent of these sites.  You will be leaving 
    TenantsVillage when the link is clicked.
</p>

<br />
<br />

<ul>
    <li>
        <a href="http://portal.hud.gov/hudportal/HUD?src=/states/iowa/renting/tenantrights" target="_blank">Federal HUD site</a>
    </li>
    <li>
        <a href="http://www.iowalegalaid.org/issues/housing/landlord-and-tenant-issues" target="_blank">Iowa Legal Aid</a>
    </li>
    <li>
        <a href="http://www.iowabar.org/displaycommon.cfm?an=1&subarticlenbr=151" target="_blank">Iowa Bar Landlord/Tenant page</a>
    </li>
    <li>
        <a href="http://coolice.legis.iowa.gov/Cool-ICE/default.asp?Category=billinfo&Service=IowaCode&input=562A" target="_blank">Iowa Landlord/Tenant Law</a>
    </li>
    <li>
        <a href="http://www.icgov.org/?id=1149" target="_blank">Iowa City Code Enforcement</a>
    </li>
</ul>
</div>