<h3>Links</h3>
<br />
<div class="row" style="padding-left:12px; padding-right:18px;">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Useful Links
                </div>
            </div>
            <div class="panel-body">
                <p style="color: rgb(0, 148, 255); padding-left: 9px;">
                    Below are links to sites that provide information and services to renters.
                    TenantsVillage is not responsible for the content of these sites.  <br />You will be leaving
                    TenantsVillage.com when the link is clicked.
                </p>
                <a href="http://portal.hud.gov/hudportal/HUD?src=/states/iowa/renting/tenantrights" class="btn btn-primary btn-lg active" role="button">Federal HUD site</a>
                <a href="http://www.iowalegalaid.org/issues/housing/landlord-and-tenant-issues" class="btn btn-default btn-lg active" style="border-color: rgb(0, 148, 255);" role="button">Iowa Legal Aid</a>
                <a href="http://www.iowabar.org/?page=LandlordTenant" class="btn btn-primary btn-lg active" role="button">Iowa Bar Landlord/Tenant page</a>
                <a href="http://coolice.legis.iowa.gov/Cool-ICE/default.asp?Category=billinfo&Service=IowaCode&input=562A" class="btn btn-default btn-lg active" style="border-color: rgb(0, 148, 255);" role="button">Iowa Landlord/Tenant Law</a>
                <a href="http://www.icgov.org/?id=1149" class="btn btn-primary btn-lg active" role="button">Iowa City Code Enforcement</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>