<html>
<head>
    <title>
        Click and Increase the Size of an Image
    </title>
    @*<link href="~/Images/Demos.css" rel="stylesheet" type="text/css" />*@
    <script type='text/javascript'
            src='~/Images/jquery-1.3.2.min.js'>
    </script>
    <script type="text/javascript">
        $(function () {
            $("img.imgthumb").click(function (e) {
                var newImg = '<img src='
                               + $(this).attr("src") + '></img>';
                $('#ladiv')
                   .html($(newImg).animate(
                       { height: '500', width: '650' }, 1200)
                   );
            });
        });

    </script>
</head>
<body>
    <form name="form1" method="post" action="r37-increasesize.aspx" id="form1">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJMzU2MDg4MzA3ZGQBmRkihTDHR+wm2PPVSrcExRkqBQ==" />
        </div>

        <div class="imgdiv">
            <h2>Click on the thumbnail to view a large image</h2>
            <br />
            <img id="imgA" class="imgthumb" src="~/Images/ugly-goth1.jpg" style="border-width:0px;" />
            <img id="imgB" class="imgthumb" src="~/Images/P1010217.jpg" style="border-width:0px;" />
            <img id="imgC" class="imgthumb" src="~/Images/P1010216.jpg" style="border-width:0px;" />
            <img id="Image1" class="imgthumb" src="~/Images/P1010214.jpg" style="border-width:0px;" />
            <hr /><br />
            <div id="ladiv"></div>
        </div>
        <br /><br /><br /><br /><br /><br />
        <div id="divDemo" class="w2">
            This demo is from my EBook
            <a href="http://www.dotnetcurry.com/ShowArticle.aspx?ID=403">
                51 Tips, Tricks and Recipes using jQuery and ASP.NET Controls
            </a>
            <br /><br />
            Visit <a href="http://www.dotnetcurry.com/BrowseArticles.aspx?CatID=63">DotNetCurry</a> and
            <a href="http://www.devcurry.com/search/label/jQuery">DevCurry</a> for more tips and tricks on jQuery
            and ASP.NET
        </div>
    </form>
</body>
</html>
